<div mat-dialog-title>
    <h2>Patient Form
    </h2>
</div>
<form [formGroup]="docForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput type="text" placeholder="Ex. Shaik" formControlName="name">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="mail">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Designation</mat-label>
                    <mat-select formControlName="designation">
                        <mat-option *ngFor="let val of designation" [value]="val">{{val}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Ex. 9094697446" formControlName="phone">
                </mat-form-field>
            </div>
        </div>
        
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>