
<div class="main-body">

    <div class="search">
        <mat-form-field style="text-align: center;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Name,phone,etc" #input>
          </mat-form-field>
          <button mat-button color="primary" (click)="openDoctorCrudForm()" style="margin-left: 2rem;">
            <i class="fa-solid fa-user-plus"></i> Treatment
          </button>
    </div>
    
  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Progress Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Name </th>
          <td mat-cell *matCellDef="let row" class="table-content"> {{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="textInput">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> TextInput </th>
          <td mat-cell *matCellDef="let row" class="table-content"> {{row.textInput}}</td>
        </ng-container>

        <ng-container matColumnDef="stepTreatment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> StepTreatment </th>
            <td mat-cell *matCellDef="let row" class="table-content"> {{row.stepTreatment}}</td>
          </ng-container>
  
        <ng-container matColumnDef="multipleStep">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> MultipleStep </th>
          <td mat-cell *matCellDef="let row" class="table-content"> {{row.multipleStep}}</td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-content"> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditForm(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteDoctor(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

