<nav id="navbar" style="background-color: #f3f3f8;">
    <div class="nav-wrapper">
      <!-- Navbar Logo -->
      <div class="logo">
        <!-- Logo Placeholder for Inlustration -->
        <i class="fa-solid fa-tooth"> Dent Amour</i>
      </div>
  
      <!-- Navbar Links -->
      <ul id="menu" style="font-size: 1.2rem;cursor: pointer;">
        <li><a (click)="navigateToURL('patient')">Patients</a></li>
        <li><a (click)="navigateToURL('doctor')">Doctors</a></li>
        <li><a (click)="navigateToURL('diagnose')">Diagnose</a></li>
        <li><a (click)="navigateToURL('treatment')">Treatment</a></li>
      </ul>
    </div>
  </nav>
  